pre {
    white-space: normal;
    word-wrap: break-word;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 0.25rem;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  